@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Jost", sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    font-size: 75px;
    line-height: 0px;
    color: rgb(50, 50, 50);
}

.counter{
    font-size: 75px;
    color: rgb(50, 50, 50);
    line-height: 70px;
}

.btn{
    height: 30px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.buttons{
    margin-top: 15px;
    display: flex;
    gap: 10px;
}